name: CI
on:
  push:
env:
  NODE_VERSION: 16.15.0
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Create .env file
        run: |
          echo "${{ secrets.DOTENV }}" > .env
      - name: Install
        run: npm install
      - name: Test
        run: npm test -- --ci --coverage --watchAll=false
  Prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install
        run: npm install
      - name: Prettier
        run: npm run prettier:check
  Eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install
        run: npm install
      - name: Eslint
        run: npm run lint:check
